.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.see-all-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 1.5em;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px;
}

.see-all-button:hover {
  background-color: #0056b3;
}

.loading-message {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: wheat;
}
